h1{
    color:palevioletred
}

h2{
    color:palevioletred
}

h3{
    color:palevioletred
}

p{
    color:pink
}

body{
    background-color:rgb(14, 14, 14);
}

img{
    border-radius:4px;
    padding: 5px;
    width: 150px;
    border: 1px;
}


    